<section id="forms">
    <div class="container form-area">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 style="font-family: 'Ubuntu Mono', monospace;">Here Are Your Random Cocktail Recipies 🚀</h1>
                <form style="margin-top: 10px;" id="randomCocktailForm" method="post" action="/get-cocktail">
                    <div class="form-floating mb-3">
                        <label for="floatingTextarea2Disabled"></label>
                        <input style="margin-top: 10px;width: 150px;" class="btn btn-outline-light btn-lg" id="get"
                            type="submit" value="GET RECIPE" formaction="/get-cocktail">
                    </div>
                </form>

                <div class="cocktail-list">
                    <% if (randomCocktail) { %>
                        <div class="cocktail">
                            <p>
                                <%= randomCocktail.idDrink %> -- Drink
                            </p>
                            <p>
                                <%= randomCocktail.strDrink %> -- Cocktail Glass
                            </p>
                            <p>
                                <%= randomCocktail.strGlass %> -- Cocktail Recipe
                            </p>
                            <p>
                                <%= randomCocktail.strInstructions %>
                            </p>
                            <img src="<%= randomCocktail.strDrinkThumb %>" alt="<%= randomCocktail.strDrink %>" />
                        </div>
                        <% } else { %>
                            <p>Click on the "GET RECIPE" button to get a random cocktail recipe. 🍹</p>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</section>