
<section id="forms">
    <div class="container form-area">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 style="font-family: 'Ubuntu Mono', monospace;">Here Are Your Random Cocktail Recipies 🚀</h1>
                <form style="margin-top: 10px;" id="randomCocktailForm" method="post" action="/get-cocktail">
                    <div class="form-floating mb-3">
                        <label for="floatingTextarea2Disabled"></label>
                        <input style="margin-top: 10px;width: 150px;" class="btn btn-outline-light btn-lg" id="get"
                            type="submit" value="GET RECIPE" formaction="/get-cocktail">
                    </div>
                </form>

                <div class="cocktail-list">
                    <% if (randomCocktail) { %>
                        <div class="cocktail">
                            <p>
                                DrinkID ||   <%= randomCocktail.idDrink %> 
                            </p>
                            <p>
                                Drink Name ||  <%= randomCocktail.strDrink %> 
                            </p>
                            <p>
                                Cocktail Drink Glass ||   <%= randomCocktail.strGlass %>
                            </p>
                            <p>
                                Alcoholic or Non-Alcoholic ||  <%= randomCocktail.strAlcoholic %> 
                            </p>
                            <p>
                                Date Of Modification ||  <%= randomCocktail.dateModified %>
                            </p>
                            <p>
                                Cocktail Recipie ||  <%= randomCocktail.strInstructions %> 
                            </p>
                            <img src="<%= randomCocktail.strDrinkThumb %>" alt="<%= randomCocktail.strDrink %>" />
                        </div>
                        <% } else { %>
                            <p>Click on the "GET RECIPE" button to get a random cocktail recipe. 🍹</p>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</section>