<%- include("header.ejs") %>

    <body>
        <%- include("navbar.ejs") %>

            <%- include("afterNav.ejs") %>

                <%- include("marketing.ejs") %>

                    <%- include("card.ejs")%>
                    <%- include("forms.ejs")%>



                    
                      




                        <script
                            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
                        <script src="https://kit.fontawesome.com/76c721963f.js" crossorigin="anonymous"></script>
    </body>
    <%- include("footer.ejs") %>

        </html>